body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size:1.25rem;
  line-height:1.5;
}

.offcanvas-bottom {
  height:62vh;
}

.required label:after {
  content:" *";
  color:red;
}

ul {
  font-size:0.8rem;
}

footer {
  font-size:0.7rem;
  color:#565e64;
}
